<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_ID">
	<display-name>WaterCaneWebProject</display-name>
	<servlet>
		<description>
		</description>
		<display-name>WaterCan</display-name>
		<servlet-name>WaterCan</servlet-name>
		<servlet-class>com.revature.WaterCan</servlet-class>
	</servlet>
	<servlet>
	<servlet-name>LoginServlet </servlet-name>
	<servlet-class> com.revature.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>RegisterServlet</display-name>
		<servlet-name>RegisterServlet</servlet-name>
		<servlet-class>com.revature.RegisterServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>RegServlet</display-name>
		<servlet-name>RegServlet</servlet-name>
		<servlet-class>com.revature.controller.RegServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UserLogServlet</display-name>
		<servlet-name>UserLogServlet</servlet-name>
		<servlet-class>com.revature.controller.UserLogServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AdminServlet</display-name>
		<servlet-name>AdminServlet</servlet-name>
		<servlet-class>com.revature.controller.AdminServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ViewStockServlet</display-name>
		<servlet-name>ViewStockServlet</servlet-name>
		<servlet-class>com.revature.controller.ViewStockServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UpdateStock</display-name>
		<servlet-name>UpdateStock</servlet-name>
		<servlet-class>com.revature.controller.UpdateStock</servlet-class>
	</servlet>
	<servlet-mapping>
	  <servlet-name>LoginServlet</servlet-name>
	  <url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WaterCan</servlet-name>
		<url-pattern>/WaterCan</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>RegServlet</servlet-name>
		<url-pattern>/RegServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserLogServlet</servlet-name>
		<url-pattern>/UserLogServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminServlet</servlet-name>
		<url-pattern>/AdminServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewStockServlet</servlet-name>
		<url-pattern>/ViewStockServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateStock</servlet-name>
		<url-pattern>/UpdateStock</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
